@font-face {
  font-family: "ChollaSlab Bold";
  src: url(ChollaSlabBold.ttf) format("truetype");
}
a {color: #8718a0;}

/*
  I imagine that the brief form page will load all the css file which
  have been used throughout the site. If so, codes above could be removed.
*/
.bf-container {
  font-family: "ChollaSlab Bold", "Courier New", serif !important;;
  font-size: 14px;
}
.bf-container h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}
.bf-container>p {margin-bottom: 20px;}

#brief-form .av_one_half {
  float: left;
  width: 49%;
}
#brief-form .av_one_half.second {margin-left: 2%;}
#brief-form .av_one_fourth {float: left;}

/* input field of breif form */
.bf-group {margin-bottom: 25px !important;}
.bf-group .form-control {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  text-indent: 10px;
}
.bf-group textarea {
  height: 100px !important;
  padding: 0; /* override browser default padding */
}
.bf-group > label, .bf-label {
  display: inline-block;
  margin-bottom: 10px;
  color: #6c6e73;
}
/* label for input field */
.bf-group > label {max-width: 100%;}
/* label for checkbox list */
.bf-label {width: 100%;}

.bf-container em {
  font-style: initial;
  color: #8718a0;
}

.bf-container input[type="checkbox"],
.bf-container input[type="file"],
.display-on-iPhone {
  display: none;
}

/* assitance Checkbox list */
#ast-checkbox {
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}
#ast-checkbox > div:first-child,
#ast-checkbox > div:nth-of-type(2),
#ast-checkbox > div:nth-of-type(3) {
  border-right: 1px solid #e1e1e1;
  margin-right: -1px;
}
#ast-checkbox label, #ast-checkbox label span {
  display: block;
  background-repeat: no-repeat;
}
#ast-checkbox label {
  padding-top: 25px;
  padding-bottom: 18px;
  background-position: center 25px;
  text-align: center;
  cursor: pointer;
}
#ast-checkbox label:hover {background-color: rgba(150, 53, 140, 0.1);}
#ast-checkbox label span {
  min-height: 122px;
  margin-bottom: 15px;
  background-position: center;
}
#ast-checkbox > div:first-child label {background-image: url("images/consulting_icon.png");}
#ast-checkbox > div:nth-of-type(2) label {background-image: url("images/UIdesign_icon.png");}
#ast-checkbox > div:nth-of-type(3) label {background-image: url("images/development_icon.png");}
#ast-checkbox > div:nth-of-type(4) label {background-image: url("images/marketing_icon.png");}
#ast-checkbox input[type="checkbox"]:checked + label span {background-image: url("images/ast_checked.png"); }

/* Build & Languages Checkbox list */
.checkbox-list .av_one_fourth:nth-of-type(5),
.checkbox-list .av_one_fourth:nth-of-type(6),
.checkbox-list .av_one_fourth:nth-of-type(7) {line-height: 40px;}
.checkbox-list input[type="checkbox"] + label {cursor: pointer;}
.checkbox-list input[type="checkbox"] + label span {
    display: inline-block;
    width: 16px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("images/tickbox.png") left top no-repeat;
}
.checkbox-list input[type="checkbox"]:checked + label span {
    background: url("images/tickbox.png") -16px top no-repeat;
}

/* Other languages */
.other-lang {
  float: left;
  width: 50%;
  line-height: 40px;
}
.other-lang input[type="checkbox"] ~ input {
  margin-left: 5px;
  width: 264px; /* fixd width as designer said */
  height: 25px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  text-indent: 10px;
  display: none;
}
.other-lang input[type="checkbox"]:checked ~ input {display: inline-block;}

/* add attachments area */
.attachment {
  background-color: #f5f5f5;
  padding-bottom: 18px;
  border: 1px dashed #e1e1e1;
  border-radius: 2px;
  text-align: center;
}
.attachment label {
  margin-top: 15px;
  font-size: 22px;
  color: #8718a0;
}
.attachment > span {
  display: block;
  color: #b0b0b0;
}

/* file-to-upload list */
#filesToUpload {
  display: none;
  border-bottom: 1px dashed #e1e1e1;
  padding: 9px;
  text-align: left;
}
#filesToUpload .outerbox {
  display: inline-block;
  border: 1px solid #d8bbd5;
  border-radius: 2px;
  background-color: #e9dbe7;
  margin: 4px 15px 4px 4px;
  padding: 5px 10px;
  color: #96358c;
  position: relative;
}
#filesToUpload .outerbox span:first-child {
  background: url("images/clip.png") left top no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -5px;
  left: -3px;
}
#filesToUpload .outerbox span:last-child {
  margin-left: 15px;
  font-family: sans-serif;
  color: #6c6e73;
  font-weight: 700;
  cursor: pointer;
}

.bf-container hr {
  clear: left;
  border-bottom: none;
  border-top: 1px solid #e1e1e1;
}

.bf-container input[type="submit"] {
  background-color: #96358c;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-top: 20px !important;
  margin-bottom: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "ChollaSlab Bold", "Courier New", serif !important;;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

/* #Desktop - Large
================================================== */
@media only screen and (min-width: 1140px) {
}
/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 989px) {
}
/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
  #brief-form .av_one_half {width: 100%;}
  #brief-form .av_one_half.second {margin-left: 0;}
  .no_margin.av_one_fourth {width: 50%;}
  #ast-checkbox > div:nth-of-type(3),
  #ast-checkbox > div:nth-of-type(4) {border-top: 1px solid #e1e1e1;}
  #ast-checkbox label {
    padding-top: 20px;
    padding-bottom: 10px;
    background-position: center 20px;
  }
  #ast-checkbox label span {margin-bottom: 10px;}
  .checkbox-list .av_one_fourth:first-child,
  .checkbox-list .av_one_fourth:nth-of-type(2),
  .checkbox-list .av_one_fourth:nth-of-type(3),
  .checkbox-list .av_one_fourth:nth-of-type(4) {line-height: 40px;}
  .languages .av_one_fourth:first-child {max-width: 110px;}
  .languages .av_one_fourth:nth-of-type(2),
  .languages .av_one_fourth:nth-of-type(3) {min-width: 154px;}
  .languages .av_one_fourth:nth-of-type(4) {
    max-width: 80px;
    margin-left: 30px;
  }
  .other-lang {width: 100%;}
  .other-lang input[type="checkbox"] ~ input {
    width: inherit;
    margin-left: 0;
  }
  .bf-container input[type="submit"] {
    display: block;
    float: none;
    width: 90px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
