/* I imagine that the brief form page will load all the css file
   which have been used through out the site, below could be removed.
*/
@font-face {
  font-family: "ChollaSlab Bold";
  src: url(ChollaSlabBold.ttf) format("truetype");
}
a {color: #8718a0;}

/* --------------------------------------------------------------- */
.bf-container {
  font-family: "ChollaSlab Bold", "Courier New", serif !important;;
  font-size: 14px;
}
.bf-container h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 22px;
}
.bf-container p {margin-bottom: 20px;}

#brief-form .av_one_half {
  float: left;
  width: 49%;
}
#brief-form .av_one_half.second {margin-left: 2%;}
#brief-form .av_one_fourth {float: left;}

/* input field of breif form */
.bf-group {margin-bottom: 25px !important;}
.bf-group .form-control {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  text-indent: 10px;
}
.bf-group textarea {
  height: 100px !important;
  padding: 0; /* override browser default setting */
}
.bf-group > label, .bf-label {
  display: inline-block;
  margin-bottom: 10px;
  color: #6c6e73;
}
/* label for input field */
.bf-group > label {max-width: 100%;}
/* label for checkbox list */
.bf-label {width: 100%;}

.bf-container em {
  font-style: initial;
  color: #8718a0;
}

.bf-container input[type="checkbox"],
.bf-container input[type="file"] {
  display: none;
}

/* assitance Checkbox list */
#ast-checkbox {
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}
#ast-checkbox > div:first-child,
#ast-checkbox > div:nth-of-type(2),
#ast-checkbox > div:nth-of-type(3) {
  border-right: 1px solid #e1e1e1;
  margin-right: -1px;
}
#ast-checkbox label, #ast-checkbox label span {
  display: block;
  background-repeat: no-repeat;
}
#ast-checkbox label {
  text-align: center;
  padding: 25px 0 18px;
  cursor: pointer;
  background-position: center 25px;
}
#ast-checkbox label span {
  min-height: 122px;
  margin-bottom: 15px;
  background-position: center;
}
#ast-checkbox > div:first-child label {background-image: url("images/consulting_icon.png");}
#ast-checkbox > div:nth-of-type(2) label {background-image: url("images/UIdesign_icon.png");}
#ast-checkbox > div:nth-of-type(3) label {background-image: url("images/development_icon.png");}
#ast-checkbox > div:nth-of-type(4) label {background-image: url("images/marketing_icon.png");}
#ast-checkbox input[type="checkbox"]:checked + label span {background-image: url("images/ast_checked.png"); }

/* Build & Languages Checkbox list */
.checkbox-list .av_one_fourth {margin-bottom: 10px;}
.checkbox-list input[type="checkbox"] + label {cursor: pointer;}
.checkbox-list input[type="checkbox"] + label span {
    display: inline-block;
    width: 16px;
    height: 19px;
    margin-right: 5px;
    vertical-align: middle;
    background: url("images/tickbox.png") left top no-repeat;
}
.checkbox-list input[type="checkbox"]:checked + label span {
    background: url("images/tickbox.png") -16px top no-repeat;
}

#attachment {
  background-color: #f5f5f5;
  padding-bottom: 18px;
  border: 1px dashed #e1e1e1;
  border-radius: 2px;
  text-align: center;
}
#filesToUpload {
  border-bottom: 1px dashed #e1e1e1;
  padding: 9px;
  text-align: left;
}
#filesToUpload .outerbox {
  display: inline-block;
  border: 1px solid #d8bbd5;
  border-radius: 2px;
  background-color: #e9dbe7;
  margin: 4px 15px 4px 4px;
  padding: 5px 10px;
  color: #96358c;
  position: relative;
}
#filesToUpload .outerbox span {
  background: url("images/clip.png") left top no-repeat;
  width: 17px;
  height: 17px;
  position: absolute;
  top: -5px;
  left: -3px;
}
#attachment label {
  margin-top: 15px;
  font-size: 18px;
  color: #626262;
}
#attachment > span {
  display: block;
  color: #b0b0b0;
}

.bf-container hr {
  clear: left;
  border-bottom: none;
  border-top: 1px solid #e1e1e1;
}

.bf-container input[type="submit"] {
  background-color: #96358c;
  border: none;
  outline: none;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "ChollaSlab Bold", "Courier New", serif !important;;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

/* #Desktop - Large
================================================== */
@media only screen and (min-width: 1140px) {
  
}
/* #Tablet (Portrait)
================================================== */
@media only screen and (min-width: 768px) and (max-width: 989px) {
  
}
/*  #Mobile (Portrait)
================================================== */
@media only screen and (max-width: 767px) {
  .bf-container .hidden-xs {display: none;}
}
/* #Mobile (Landscape)
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .bf-container .hidden-xs {display: none;}
}
